@import "./variables.scss";


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 0;
}

nav {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-family: $main-font;
  color: $brown;
  font-size: large;
}

#logo {
  width: 12rem;
  margin-left: 2rem;
}

#profile-icon {
  width: 3rem;
}

.logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}