@import "variables.scss";

.report-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
    margin: 0 auto;
  }
  
  .display-info-wrapper,
  .marco-input-wrapper,
  .macro-progress-wrapper{
    flex-basis: 30%;
  }
  .display-info-wrapper{
    padding: 1.5rem;
    background-color: #b0acaa;
    border-radius: 15px;
    width: 100%;
  }
  .macro-progress{
    margin-top: 2rem;
  }
  .add-button{
    border-radius: 5px;
  }

  .meal-stats{
    margin-bottom: 2rem;
    background-color: #b0acaa;
  }
  
  .macro-progress-wrapper{
     gap:1rem;
     background-color:#b0acaa;
     border-radius: 10px;
     padding: 1rem;
     width: auto;
  }
  
  .input-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    background-color: #DFD3CC;
    border-radius: 10px;
    padding: 2rem;
    width: auto;
  }

  .meal-plans{
    background-color:#b0acaa;
    border-radius: 15px;
    width: auto;
    padding: 2rem;
    margin-top: -5rem;
  }

  .meal-plans button{
    border-radius: 15px;
  }

  .progress-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }
  .progress-label{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .progress-container {
    display: flex;
    justify-content: center;
    margin: 0.25rem auto 0 auto;
  }
  progress{
    width: 100%;
    height: 30px;
    appearance: none;
    border-radius: 15px;
    overflow: hidden;
  }



  .cals-prog::-moz-progress-bar{
    background-color: green;
  }
  .fats-prog::-moz-progress-bar{
    background-color: red;
  }
  .protein-prog::-moz-progress-bar{
    background-color: blue;
  }

  .carbs-prog::-moz-progress-bar{
    background-color: yellow;
  }


  .cals-prog::-webkit-progress-value{
    background-color: green;
  }
  .fats-prog::-webkit-progress-value{
    background-color: red;
  }
  .protein-prog::-webkit-progress-value{
    background-color: blue;
  }

  .carbs-prog::-webkit-progress-value{
    background-color: yellow;
  }

  .save-button{
    border-radius: 15px;
    width: 50%;
    background-color:#b0acaa;
  }

  