@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap');

$bg-color: #EDEAE8;
$brown: #91593B;
$blue: #6479AF;
$dark-brown: #60361F;
$light-brown: #DFD3CC;
$main-font: 'Inria Sans', sans-serif;