@import "./assets/variables.scss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  font-family: $main-font;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-family: $main-font;
  color: $brown;
  font-size: large;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 0;
}

#logo {
  width: 12rem;
  margin-left: 2rem;
}

#profile-icon {
  width: 3rem;
}


.logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}